:host  {
    display: flex;
    flex-direction: column;
    width: 381px;
    height: 460px;
    background-color: #2b2f32;
    text-align: center;
    margin-inline: auto;
    padding-inline: 20px;
    padding-block: 40px;
    gap: 10px;
    font-family: monospace;

    h1.resultado {
        padding: 12px;
        border: none;
        color: #999;
        background-color: #51565a;
        font-size: 18px;
        height: 50px;
        text-align: right;
        font-size: 40px;
        margin: 0px;
    }

    .button-container {
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(4, 1fr);
        gap: 10px;
        flex-basis: 100%;
        button {
            background: #3c4043;
            color: #e8eaed;
            border: 1px solid #3c4043;
            border-radius: 4px;
            text-align: center;
            font-size: 130%;
            &:disabled {
                background: #303336;
                opacity: 0.7;
                cursor:not-allowed;
            }   

            &:hover:not(:disabled){
                background-color: #51565a;
                cursor: pointer;
            }

            &:active{
                background-color: #3c4043;
            }

            &.operatorAC {
                grid-column: span 3;
            }
            
            &.numberZero {
                grid-column: span 3;
            }
        }
    }
}